

.footer2{
width:100%;
background:yellow;
text-align:center;
position:relative;
background:darkorange;
border-top:1px solid black;
margin-bottom:0px;
}

.footer2::after{
content:"";
clear:both;
display:table;
}

.footer3{
width:100%;
height:40px;
background:#454545;
color:white;
line-height:30px;
text-align:center;
border:0.5px solid rgb(77, 77, 77);
}


.footer3::after{
content:"";
clear:both;
display:table;
}

.footer{
width:80%;
background:#454545;
color:white;
text-align:center;
position:relative;
margin:0 auto;
border:0.5px solid rgb(77, 77, 77);
}

.footer::after{
content:"";
clear:both;
display:table;
}

.footer_contets_one{
width: 100%;
background:rgb(115, 115, 115);
text-align: center;
position: relative;
display: inline-block;
}

.footer_Social_one{
with:100%;
height: 60px;
background:rgb(127, 127, 127);
text-align: center;
position: relative;
padding-top:5px;
padding-bottom:5px;
}

.footer_copyright_one{
with:100%;
height: 40px;
background:rgb(77, 77, 77);
text-align: center;
position: relative;
line-height: 40px;
}

.whatsapp{
width:20%;
height: 50px;
display: inline-block;
float: left;
background:rgb(127, 127, 127);
background-image: url("http://localhost/thedminfopoint/images/phone_social_icon.png");
background-size:contain ;
background-repeat: no-repeat ;
background-attachment: inherit;
background-position:center;
}

.facebook{
width:20%;
height: 50px;
display: inline-block;
float: left;
background:rgb(127, 127, 127);
background-image: url("http://localhost/thedminfopoint/images/facebook_icon.png");
background-size:contain ;
background-repeat: no-repeat ;
background-attachment: inherit;
background-position:center;
}

.instagram{
width:20%;
height: 50px;
display: inline-block;
float: left;
background:rgb(127, 127, 127);
background-image: url("http://localhost/thedminfopoint/images/instagram_icon.png");
background-size:contain ;
background-repeat: no-repeat ;
background-attachment: inherit;
background-position:center;
}

.youtube{
width:20%;
height: 50px;
display: inline-block;
float: left;
background:rgb(127, 127, 127);
background-image: url("http://localhost/thedminfopoint/images/youtube_icon.png");
background-size:contain ;
background-repeat: no-repeat ;
background-attachment: inherit;
background-position:center;
}

.twetter{
width:20%;
height: 50px;
display: inline-block;
float: left;
background:rgb(127, 127, 127);
background-image: url("http://localhost/thedminfopoint/images/twitter_icon.png");
background-size:contain ;
background-repeat: no-repeat ;
background-attachment: inherit;
background-position:center;  
}      

.bottom_info_one{
background:burlywood;
display: inline-block;
float:left;
position: relative;
}

.bottom_info_two{
background:burlywood;
display: inline-block;
float:left;
position: relative;
}

.bottom_info_three{
background:burlywood;
display: inline-block;
float:left;
position: relative;
}

.bottom_list_one, .bottom_list_two, .bottom_list_three{
        list-style: none;
        line-height: 20px;
        min-height:150px;
        position: relative;
   }


.list_items_one{
display: block;
text-align: left;
padding:5px;
margin-left:30px;
font-style: italic;
color:#777;
}

.list_items_one a{
 color:#000;
 text-decoration: none;

}


.list_items_two{
display: block;
text-align: left;
padding:5px;
margin-left:30px;

}
.list_items_two a{
 color:#000;
 text-decoration: none;

}

.list_items_three{
display: block;
text-align: left;
padding:5px;
margin-left:30px;

}

.list_items_three a{
 color:#0f907;
 text-decoration: none;

}